<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * 2018 Alma / Nabla SAS
 *
 * THE MIT LICENSE
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
 * documentation files (the "Software"), to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and
 * to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the
 * Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 * WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
 * CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
 * IN THE SOFTWARE.
 *
 * @author    Alma / Nabla SAS <contact@getalma.eu>
 * @copyright 2018 Alma / Nabla SAS
 * @license   https://opensource.org/licenses/MIT The MIT License
 *
 */
-->

<config>
    <sections>
        <payment>
            <groups>
                <alma_installments translate="label" module="Alma_Installments">
                    <label>Alma Installments</label>
                    <comment><![CDATA[
                        <style>
                            .columns .alma-config .form-list {
                                width: 100%;
                            }
                        </style>
                    ]]></comment>
                    <expanded>1</expanded>
                    <frontend_class>alma-config</frontend_class>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <general_configuration type="group" translate="label">
                            <expanded>1</expanded>
                            <label>General configuration</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>

                            <fields>
                                <active translate="label">
                                    <config_path>payment/alma_installments/active</config_path>
                                    <label>Enabled</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>1</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </active>
                                <sort_order translate="label">
                                    <config_path>payment/alma_installments/sort_order</config_path>
                                    <label>Sort order</label>
                                    <frontend_type>text</frontend_type>
                                    <frontend_class>validate-number</frontend_class>
                                    <sort_order>2</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </sort_order>
                                <logging translate="label comment">
                                    <config_path>payment/alma_installments/logging</config_path>
                                    <label>Enable logging</label>
                                    <comment><![CDATA[Logs are stored in <i>var/log/alma.log</i>]]></comment>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>3</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </logging>

                                <excluded_product_types translate="label">
                                    <config_path>payment/alma_installments/excluded_product_types</config_path>
                                    <label>Excluded product types</label>
                                    <frontend_type>multiselect</frontend_type>
                                    <source_model>alma/system_config_source_ProductTypes</source_model>
                                    <sort_order>4</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </excluded_product_types>

                                <excluded_products_message translate="label comment">
                                    <config_path>payment/alma_installments/excluded_products_message</config_path>
                                    <label>Excluded products message</label>
                                    <comment>List/explain which products aren't eligible to monthly payments</comment>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>5</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </excluded_products_message>
                            </fields>
                        </general_configuration>
                        <product_page_display type="group" translate="label comment">
                        <expanded>1</expanded>
                        <label>Product page display</label>
                        <comment>A badge can be displayed on product pages to indicate eligible payments plans</comment>
                        <frontend_type>text</frontend_type>
                        <sort_order>90</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <fields>
                            <enable_widget_product_page transalte="label">
                                <label>Enabled</label>
                                <config_path>payment/alma_installments/enable_widget_product</config_path>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                <sort_order>91</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </enable_widget_product_page>
                            <widget_custom_position translate="label comment">
                                <config_path>payment/alma_installments/custom_widget_position</config_path>
                                <label>Badge custom position</label>
                                <comment>Id or class name for the custom badge container. (ex: add-to-box or qty)</comment>
                                <frontend_type>text</frontend_type>
                                <sort_order>92</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </widget_custom_position>
                        </fields>

                        </product_page_display>

                        <cart_display type="group" translate="label comment">
                            <expanded>1</expanded>
                            <label>Cart display</label>
                            <comment>A message can be displayed in the cart and minicart to indicate the order eligibility for monthly payments</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>

                            <fields>
                                <show_eligibility_message translate="label">
                                    <config_path>payment/alma_installments/show_eligibility_message</config_path>
                                    <label>Display widget on cart page</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>101</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </show_eligibility_message>
                            </fields>
                        </cart_display>

                        <checkout_display type="group" translate="label">
                            <expanded>1</expanded>
                            <label>Checkout display</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>

                            <fields>
                                <title translate="label">
                                    <config_path>payment/alma_installments/title</config_path>
                                    <label>Title</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>201</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </title>
                            </fields>
                        </checkout_display>

                        <pnx_configuration type="group" translate="label">
                            <expanded>1</expanded>
                            <label>Installments plans</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>

                            <fields>
                                <pnx_dynamic translate="label">
                                    <config_path>payment/alma_installments/pnx_config</config_path>
                                    <label>Payment plans:</label>
                                    <frontend_model>alma/adminhtml_form_field_PnxConfig</frontend_model>
                                    <backend_model>alma/System_Config_Backend_PnxConfig</backend_model>
                                    <sort_order>6</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </pnx_dynamic>
                            </fields>
                        </pnx_configuration>

                        <api_configuration type="group" translate="label comment">
                            <expanded>1</expanded>
                            <label>API configuration</label>
                            <comment><![CDATA[You can find your API keys on <a href="https://dashboard.getalma.eu/security" target="_blank">your Alma dashboard</a>]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>

                            <fields>
                                <live_api_key translate="label">
                                    <config_path>payment/alma_installments/live_api_key</config_path>
                                    <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                                    <label>Live API key</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>401</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </live_api_key>

                                <test_api_key translate="label">
                                    <config_path>payment/alma_installments/test_api_key</config_path>
                                    <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                                    <label>Test API key</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>402</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </test_api_key>

                                <api_mode translate="label">
                                    <config_path>payment/alma_installments/api_mode</config_path>
                                    <label>API mode</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>alma/System_Config_Source_APIModes</source_model>
                                    <sort_order>403</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </api_mode>
                            </fields>
                        </api_configuration>
                    </fields>
                </alma_installments>
            </groups>
        </payment>
    </sections>
</config>
